/* 
VARIABLES:
COLOR VERDE: #729D4E
GRIS OSCURO: #383838
FUENTE: font-family: 'Josefin Sans', sans-serif;
*/

html, body {
    font-size: 62,5%;
    scroll-behavior: smooth;
}

/* SOFTWARE */

.hero {
    background-image: url(../imagenes/bg-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 20px 100px 20px;
}

.hero__line--green {
    background-color: white;
    width: 40px;
    height: 5px;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.hero__line--green--active {
    opacity: 1;
}

.hero__h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: white;
    margin-top: 30px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.5s;
}

.hero__h3--active {
    opacity: 1;
    transform: translate(0%);
}

.hero__p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-top: 20px;
    font-weight: 300;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 1s;
}

.hero__p--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.hero__h4 {
    opacity: 0;
    transform: translate(-100px);
    transition: all 1s ease-in-out;
}

.hero__h4--active {
    opacity: 1;
    transform: translate(0%);
}

/* FEATURES SOFTWARE */

.features {
    background-color: white;
    padding: 100px 20px 100px 20px;
}

.features__software__row {
    margin-top: 30px;
    margin-bottom: 50px;
}

.features__col1 {
    text-align: center;
}

.features__h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: #383838;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 1.5s;
}

.features__h3--active {
    opacity: 1;
    transform: translate(0%);
}

.features__h3__line {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 1.5s;
}

.features__h3__line--active {
    opacity: 1;
    transform: translate(0%);
}

.features__h4-card {
    font-family: 'Josefin Sans', sans-serif;
    color: #383838;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.features__p-card {
    font-family: 'Josefin Sans', sans-serif;
    color: #383838;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.features__col--cards {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.features__col--cards--1 {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.features__col--cards--1--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.features__col--cards--2 {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.3s;
}

.features__col--cards--2--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.features__col--cards--3 {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.6s;
}

.features__col--cards--3--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.features__col--cards--4 {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.features__col--cards--4--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.features__col--cards--5 {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.3s;
}

.features__col--cards--5--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.features__icon {
    width: 50px;
    height: auto;
    margin-bottom: 25px;
}

.features__col--btn {
    text-align: center;
}

.features__btn {
    background-color: #383838;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 30px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.features__btn--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.features__btn:hover {
    text-decoration: none;
    color: white;
}

/* LOGISTIC */

.logistic {
    background-image: url(../imagenes/bg-logistica.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 20px 100px 20px;
}

.features__row {
    margin-bottom: 50px;
}

.features__icon--logistic {
    width: 20px;
    height: auto;
    margin-bottom: 25px;
}

.features__h4-card--logistic {
    font-size: 1.2rem;
}

.hero__line--green--logistic {
    opacity: 0;
    transform: translate(-100px);
    transition: all 1s ease-in-out 1s;
}

.hero__line--green--logistic--active {
    opacity: 1;
    transform: translate(0px);
}

.logistic__h4 {
    opacity: 0;
    transform: translate(-100px);
    transition: all 1s ease-in-out;
}

.logistic__h4--active {
    opacity: 1;
    transform: translate(0%);
}

.features__h3__line--logistic {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.features__h3__line--logistic--active {
    opacity: 1;
    transform: translate(0%);
}

.logistic__h3 {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.logistic__h3--active {
    opacity: 1;
    transform: translate(0%);
}

.features__h3__logistic {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.features__h3__logistic--active {
    opacity: 1;
    transform: translate(0%);
}

.logistic__p {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.logistic__p--active {
    opacity: 1;
    transform: translate(0%);
}

/* BENEFITS */

.benefits {
    background-image: url(../imagenes/bg-quote.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px 100px 20px;
}

.benefits__col1 {
    text-align: center;
}

.benefits__h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 30px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.benefits__h4--active {
    opacity: 1;
    transform: translate(0%);
}

.benefits__btn {
    border: none;
    background-color: white;
    color: #383838;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.5s;
}

.benefits__btn--active {
    opacity: 1;
    transform: translate(0%);
}

.benefits__btn:hover {
    text-decoration: none;
    color: #383838;
}

.features__col--cards--logistic--1, .features__col--cards--logistic--2,
.features__col--cards--logistic--3, .features__col--cards--logistic--4,
.features__col--cards--logistic--5, .features__col--cards--logistic--6,
.features__col--cards--logistic--7, .features__col--cards--logistic--8,
.features__col--cards--logistic--9, .features__col--cards--logistic--10 {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.card--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

/* START */

.start {
    background-image: url(../imagenes/bg-comenzamos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px 100px 20px;
}

.start__col1 {
    text-align: center;
}

.start__h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    margin-top: 30px;
    color: white;
}

.start__h4--animated {
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.start__h4--animated--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.start__h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.3s;
}

.start__h3--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.start__p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 50px;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.6s;
}

.start__p--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.start__form {
    text-align: center;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out 0.9s;
}

.start__form--active {
    opacity: 1;
    transform: translate(0px, 0px);
}

.form__input {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    border: solid 1px white;
    border-radius: 100px;
    background-color: transparent;
    padding: 10px;
    margin-bottom: 10px;
    width: 75%;
    color: white;
}

.form__input:active, .form__input:focus {
    outline: none;
    color: white;
}

.form__input::placeholder {
    color: white;
}

.form__btn {
    background-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    border: solid 1px white;
    border-radius: 100px;
    padding: 10px 20px 10px 20px;
    color: white;
}

.form__input--mensaje {
    border-radius: 20px;
    color: white;
} 

/* FOOTER */

.footer {
    padding: 50px 20px 50px 20px;
    background-color: white;
}

.footer__h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #383838;
    text-align: center;
}

.footer__h4--guinda {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #383838;
    text-align: center;
}

.footer__h4 a:hover {
    text-decoration: none;
}

/* MEDIA QUERIES */

/* COMPUTADORA CHICA */

@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* COMPUTADORA GRANDE */

@media (min-width: 1200px) {

    .start__h4 {
        font-size: 1.4rem;
    }

    .hero__h3 {
        font-size: 2.4rem;
    }

    .hero__p {
        font-size: 1.2rem;
    }

    .features__p-card {
        font-size: 1.1rem;
        text-align: left;
    }

    .features__h4-card {
        font-size: 1.7rem;
        text-align: left;
    }

    .features__software__row {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .features__col--cards {
        text-align: left;
    }

    .features__h3 {
        font-weight: bold;
    }

    .features__row {
        margin-bottom: 50px;
    }

}